@import url("https://fonts.googleapis.com/css2? family= Noto+Sans+KR:wght@100;300;400;500;700;900 & display=swap");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/*홈페이지 라인간격 볼수 있음*/
* {
  outline: 1px solid #f00--;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 헤더 */
#header .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
#header nav {
  margin-left: auto;
}
#header nav > ul {
  display: flex;
}
#header nav > ul > li > a {
  display: block;
  padding: 0 20px;
  line-height: 100px;
}
#header nav > ul > li {
  position: relative;
}
#header nav > ul > li ~ li:after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 50px;
  left: 0;
  transform: translateY(-50%);
}

#header .search {
  margin-left: 50px;
  line-height: 100px;
}

/* 메인 */
#visual {
  position: relative;
}
#visual .ms_itme01 {
  width: 100%;
}

#visual .slogan {
  position: absolute;
  top: 250px;
  left: 50%;
  width: 1200px;
  transform: translateX(-50%);
  padding: 0 15px;
  color: #fff;
}
#visual .slogan h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}
#visual .slogan p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 30px;
}

#content01 {
  padding: 150px 0 100px 0;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
#content01 h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
#content01 p {
  font-size: 20px;
  margin-bottom: 30px;
}
#content01 .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
#content01 figure {
  flex: 1;
  padding: 0 15px;
}
#content01 img {
  max-width: 100%;
}
#content02 {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#content02 .container {
  display: flex;
}
#content02 figure {
  padding: 0 15px;
}
footer {
  padding: 60px;
  background: #444;
  color: #f2f2f2;
  text-align: center;
  line-height: 2;
}
